 * {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	
}

html {
  scroll-behavior: smooth;
}


.navbar {
	width:  100%;
	height: 60px	;
	margin: auto;
	padding: 20px 0;
	padding-left: 100px;
	padding-right: 100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5	));
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	top: 0;
	z-index: 11;
	
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;


}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: #f7b15b;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.logo{
	height: 60px;
	width: 100px;
	cursor: pointer;
}

  section {
            height: 75vh;
            display: flex;
            background: #2f5755;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            color: white;
            text-align: center;
        }

        section:nth-child(odd) {
            background: #2f5755;
        }

        .batchName {
            margin: auto ;
            place-items: center;
            padding: 10px;
        }

 #one, #section-2, #three{
 display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-top: 100px;
 }

h1{

	padding-bottom: 100px;
}


 .card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  margin: 10px;
  margin-left: 25px;
  
}

.card-inner{
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blu	r(10px);
  border-radius: 8px;
  place-items: center;
	padding: 40px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
 }

.mascot{
	height:250px;
}



 img {
 	height:120px;
 }

h3 {
	padding-bottom: 5px;
}

 }
 /*.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}*/


.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}



@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e7473; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e7473; 
}

